@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply bg-aire-bg text-aire-text antialiased;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {

  /* Hide scrollbar for clean aesthetic in drawers */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}